.shoes {
    padding: 40px 0;
}

.shoes__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 14px 0;

    margin-top: 30px;
}

.list__item {
    flex: 1 0 20%
}

.item__link {
    font-family: var(--RR);
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    color: var(--b);
}

@media screen and (max-width: 320px){
    .list__item{
        flex: 0 0 50%;
    }
}
@media screen and (max-width: 582px) {
    .list__item {
        flex: 0 0 40%;
        padding-left: 60px;
    }
}